.na_Banner_container {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.na_banner_search_input {
    width: 400px;
    height: 10px;
    border-radius: 20px;
    border : none;
    background-color: #f0f4f9;
    padding: 25px;
    outline: 0;
    padding-left: 45px;
}
.na_banner_UserProfile_img {
    width: 34px;
    height: 34px;
    margin-right: 10px;
}
.na_banner_UserProfile{
    display: flex;
    align-items: center;
    
}
.na_banner_btn_search {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}
.na_banner_notifIcon {
    height: 17px;
    margin-right: 20px;
}
.na_banner_notifIcon > svg {
    height: 18px;
}
.na_banner_set_date {
    display: flex;
    align-items: center;
    justify-content: center;
}
.naDana_banner_set_date > a {
    margin-left: 15px;

}
.na_banner_User_chevron {
    height: 15px;
}
.na_banner_User_chevron > svg{
    height: 18px;
}