.naContainerTimeViewer {
    display: flex;
    height: 100%;
    padding: 8px 45px;
    
}
.naContainerTimeViewer > hr {
    height: 95%;
    border: 1px solid #ebecf0;
}
.na_Body_view1_add_userButton{
    height: auto;
    width: auto;
    border-radius: 15px;
    background-color: inherit;
    outline: 0;
    border: 1px solid #ebecf0;
    font-size: 15px;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
    justify-content: center;

}
.img {
    margin-top: 5px;
    width: 25px;

}
.userControl{
    display: flex;
    align-items: center;
}
.na_Body_view1_add_userButton:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.1);
}
.na_Body_view1_add_icon{
    height: 18px;
    margin-right: 10px;
    color: #1856b3;
}
.na_Body_view1_imgs {
    display: flex;
}
.na_Body_view1_imgs > .img {
    margin-left: -12px;
    width: 30px;
}
.na_Body_view1_imgs > .img:nth-child(1) {
  margin-left: 0px;
}

.na_Body_view1 {
    display: flex;
    width: 58%;
    flex-direction: column;
}

.na_Body_view1_imgs {
    margin-right: 20px;
}
.na_Body_view1_timeSheet{
    padding-right: 42px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
}
.na_Body_view1_timeSheetHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}
.na_Body_view1_timeSheetBody > .na_tasks{
    height: 28px;
    border-bottom: 1px solid #ebecf1;
    display: flex;
    align-items: center;
}
.time{
    font-size: 13px;
    color: #b9bcbe;
    margin-left: 15px;
}
.na_Body_view1_timeSheetBody > .na_tasks:nth-child(3){
    border-radius: 10px;
    background-color: #FFF;
    transform: scale(1.08);
    padding: 0 17px;
    box-shadow: 2px 7px 17px -10px rgba(0,0,0,0.35);
}

.na_tasks_process{
    display: flex;
    align-items: center;
}

.na_tasks_process {
    width: 200px;
}

.na_Body_view1_timeSheetBody > .na_tasks > svg path{
    stroke: currentcolor;
    stroke-linecap: butt;
    stroke-linejoin: square;
}
.na_Body_view1_timeSheetBody > .na_tasks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.na_Body_view1_timeSheetBody > .na_tasks > .na_tasks_descrip > svg {
    margin-top: -5px;
}
.na_Body_view1_timeSheetBody > .na_tasks > .na_tasks_descrip > a{
    padding: 0 10px;
    font-size: 15px;
}
.na_Body_view1_timeSheetBody > .na_tasks > .na_tasks_descrip > div {
    height: 5.5px;
    width: 5.5px;
    border-radius: 50%;
    background-color: #1856b3;
    margin-top: -1px;
}
.na_play{
    height: 19px;
    margin-top: -3px;
    margin-left: 8px;
    
}
.na_play path{
    fill: #ebecf0;
    stroke: rgb(151, 149, 149);
    
}
.na_Body_view1_timeSheetBody > .na_tasks > .na_tasks_descrip {
    display: flex;
    align-items: center;
}

.na_Body_view1_container{
    display: flex;
}
.na_Body_view1_Task{
    display: flex;
}
.na_Body_view1_AllTask{
    height: auto;
    width: auto;
    border-radius: 10px;
    background-color: inherit;
    outline: 0;
    border: 1px solid #ebecf1;
    font-size: 15px;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
    justify-content: center;
    background-color: #f0f4f9;
    font-family: 'ElMessiri', sans-serif;
}
.na_Body_view1_MyTask{
    height: auto;
    width: auto;
    background-color: inherit;
    outline: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'ElMessiri', sans-serif;
    color: #b9bcbe;
    transition-duration: 0.4s;
}
.na_Body_view1_MyTask:hover {
    color: inherit;
}
.na_Body_view2 {
    display: flex;
    width: 42%;
    border-left: 1px solid #ebecf1;
}
.na_Body_view2_container{
    width: 100%;
    padding-left: 42px;

}
.na_Body_view2_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.na_Body_view2_Time {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #ebecf1;

}
.na_Body_view2_Time > .time {
    font-size: 35px;
    color: black;
}
.na_Body_view2_Time > .title {
    color: #b9bcbe;
}


.na_Body_view2_Time > div {
    margin-bottom: 30px;
}
.actionNumber {
    color: #b9bcbe;
    font-size: 18px;
}
.actionHeader{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.actionHeader > button {
    width: 90px;
}
.actionListUsers {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.actionUser {
    display: flex;
    width: 100%;

}
.actionProfile{
    width: 28px;
}
.USerInfo{
    display: flex;
    flex-direction: column;
}
.USerInfo > p {
    font-size: 13px;
    margin: 0;
    color: #b9bcbe;
}
.USerInfoTask{
    margin-left: 15px;
    width: 100%;
    height: 60px;
    display: flex;
    border-bottom: 1px solid #ebecf1;
    justify-content: space-between;
}
.tim {
    font-size: 14px;
}