html,body {
  padding: 0;
  margin: 0;
 background-color: hsl(200deg 33% 98%);
 height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#__next {
  height: 100%;
}
.na-container{
  height: 100%;
  display: flex;
}
.na-body-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}