.na-main{
    height: 100%;
    width: 150px;
    background-color: #1856b3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    margin-top: 10px;
    margin-bottom: 20px;
}
a:last-child {
    margin-top: 200px;
}