.na_navigation{
    width: 330px;
    background-color: #FFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.na_navigation_title {
    font-size: 1.3em;
    padding: 0 10px;
}
.na_navigation_Elt{
    height: 100px;
    display: flex;
    align-items: center;
}
.na_navigation_button {
    height: 28px;
    width: 28px;
    margin-left: 70px;
    border-radius: 50%;
    background-color: #1856b3;
    transition-duration: 0.4s;
    outline: 0;
    border: none;
    font-size: 23px;
    color: #FFFF;
}
.na_navigation_button:hover {
    cursor: pointer;
}
.na_navigation_link {
    height: 30px;
    width: 250px;
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.cat {
    color: #b9bcbe;
}
.na_navigation_link > div {
    height: 25px;
}
.na_navigation_link > div:first-child {
    margin-left: 20px;
}

.iconChevronRigth {
    height: 26px;
    padding: 2px;
    font-weight: 900;
}
.na_navigation_link_description {
    display: flex;
    align-items: center;
    
}
.na_navigation_link_description > a {
    margin-left: 14px;
    font-size: 0.95rem;
    font-weight: 500;
}